
  body {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: dimgray;
  }
  
  section {
    display: flex;
    flex-flow: row wrap;
  }
  
  P {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
  }
  
  H1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 28px;
  }
  
  figure {
    margin: 0px;
  }
  
  figure img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  figure img:hover {
    opacity: 0.6;
    transition: all .3s linear;
  }
  .column {
    box-sizing: border-box;
    flex: 1 100%;
    justify-content: space-evenly;
    margin: 20px;
  }
  .card-style {
    border-radius: 12px;
    border-image-slice: 1;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
    transition: all 0.25s linear;
    //min-height: 300px;
    border: ridge;
  }
  .card-style:hover {
    box-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.8);
  }
  
  .card-text {
    padding: 20px;
  }

  .card-table {
    width: -webkit-fill-available;
    tbody > tr > td {
      text-align: center;
      font-weight: bolder;
      .active {
        font-size: xxx-large;
      }
    }
  }

  .card-table tbody > tr > td.active {
    font-size: x-large;
    font-weight: 500;
  }
  
  .card-color {
    padding : 85px 0;
  }

  .weight-tag {
    background-color: #7d9eca;
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
  }

  .sort-rules-container {
    border-bottom: solid;
    margin-bottom: 30px;
  }

  .sort-rules-btn-container {
    text-align: center;
    min-height: 200px;
    margin-top: 130px;
  }

  .sort-rules-title {
    text-decoration: underline;
  }

  @media (min-width: 500px) {
    .column {
        flex: 0 0 calc(100%/2 - 40px);
    }
  }
  
  @media (min-width: 900px) {
      .column {
        flex: 0 0 calc(100%/4 - 40px);
    }
  }


















  .wrapper-progressBar {
    width: 100%
}

.progressBar {
}

.progressBar li {
    list-style-type: none;
    float: left;
    width: 33%;
    position: relative;
    text-align: center;
}

.progressBar li:before {
    content: " ";
    line-height: 30px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px;
    background-color: white
}

.progressBar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progressBar li:first-child:after {
    content: none;
}

.progressBar li.active {
    color: dodgerblue;
}

.progressBar li.active:before {
    border-color: dodgerblue;
    background-color: dodgerblue
}

.progressBar .active:after {
    background-color: dodgerblue;
}

.stepper-container {
  padding-top: 30px;
}

.container-step-1, .container-step-2, .container-step-3 {
  margin-top: 100px;
}