<div class="row">
  <div class="col-xs-12 col-md-8 offset-md-2 block border">
    <div class="wrapper-progressBar">
      <ul class="progressBar">
        <li [ngClass]="{'active': step >= 1}">Les régles de tri</li>
        <li [ngClass]="{'active': step >= 2}">Distribution des cartes</li>
        <li [ngClass]="{'active': step >= 3}">Tri de mes cartes</li>
      </ul>
    </div>

  <div class="stepper-container">

    <!-- STEP 1-->
    <div class="container-step-1" *ngIf="step === 1">
      <div *ngIf="sortRuleGroups.length == 0" class="sort-rules-btn-container">
        <button class="button is-outline is-success" (click)="generateSortRules()">
          <span> Générer des règles de tri</span>
          <span class="icon medium">
            <fa-icon [icon]="faPerson" size="fa-lg"> </fa-icon>
          </span>
        </button>
      </div>
      <div *ngIf="sortRuleGroupByColor?.sortRules?.length > 0" class="sort-rules-container">
        <h1 class="sort-rules-title">Ordre des couleurs</h1>
        <section>
          <div class="column card-style" *ngFor="let rule of sortRuleGroupByColor?.sortRules; let i = index">

            <div class="card-text">
              <table class="card-table">
                <tbody>
                  <tr>
                    <td>?</td>
                    <td><span class="weight-tag">Poids = {{(rule.weight)}}</span></td>
                    <td>?</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><div class="card-color active">{{rule.item}}</div></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>?</td>
                    <td></td>
                    <td>?</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>

      <div *ngIf="sortRuleGroupByValue?.sortRules?.length > 0">
        <h1 class="sort-rules-title">Ordre des valeurs</h1>
        <section>
          <div class="column card-style" *ngFor="let rule of sortRuleGroupByValue?.sortRules; let i = index">
            <div class="card-text">
              <table class="card-table">
                <tbody>
                  <tr>
                    <td class="active">{{rule.item}}</td>
                    <td><span class="weight-tag">Poids = {{rule.weight}}</span></td>
                    <td class="active">{{rule.item}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><div class="card-color">?</div></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="active">{{rule.item}}</td>
                    <td></td>
                    <td class="active">{{rule.item}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>

      <footer class="my-footer">
        <div class="buttons">
          <button [disabled]="sortRuleGroups?.length == 0" class="button is-outline is-primary" (click)="generateRandomHand()">
            <span> Générer mes cartes aléatoirement</span>
            <span class="icon medium">
              <fa-icon [icon]="faChevronRight" size="fa-lg"> </fa-icon>
            </span>
          </button>
        </div>
      </footer>
    </div>

    <!-- STEP 2-->
    <div class="container-step-2" *ngIf="step === 2">      
      <span>Voici la liste {{hand?.cards.length}} des cartes générées aléatoirement :</span>
      <div class="container">

        <section>
          <div class="column card-style" *ngFor="let card of hand?.cards; let i = index">
            <div class="card-text">
              <table class="card-table">
                <tbody>
                  <tr>
                    <td>{{card.value}}</td>
                    <td>Poids = </td>
                    <td>{{card.value}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><div class="card-color">{{card.color}}</div></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>{{card.value}}</td>
                    <td></td>
                    <td>{{card.value}}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </section>

        <footer class="my-footer">
          <div class="buttons">
            <button [disabled]="!sortRuleGroups" type="button" class="button is-outline is-warning" (click)="goToFirstStep()">
              <span class="icon medium">
                <fa-icon [icon]="faChevronLeft"> </fa-icon>
              </span>
              <span> Previous</span>
            </button>

            <button [disabled]="!hand" type="button" class="button is-outline is-primary" (click)="sortRandomHand()">
              <span> Next</span>
              <span class="icon medium">
                <fa-icon [icon]="faChevronRight" size="fa-lg"> </fa-icon>
              </span>
            </button>
          </div>
        </footer>
      </div>
    </div>


    <!-- STEP 3-->
    <div class="container-step-3" *ngIf="step === 3">
      <span>Voici la liste {{hand?.cards.length}} des cartes triées avec les régles de tri générés à la premiére étape :</span>
      <div class="container">

        <section>
          <div class="column card-style" *ngFor="let card of sortedCards; let i = index">
            <div class="card-text">
              <table class="card-table">
                <tbody>
                  <tr>
                    <td>{{card.value}}</td>
                    <td>Poids = {{card.weight}}</td>
                    <td>{{card.value}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><div class="card-color">{{card.color}}</div></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>{{card.value}}</td>
                    <td></td>
                    <td>{{card.value}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>

        <footer class="my-footer">
          <div class="buttons">
            <button [disabled]="!sortedCards" type="button" class="button is-outline is-warning" (click)="goToSecondStep()">
              <span class="icon medium">
                <fa-icon [icon]="faChevronLeft"> </fa-icon>
              </span>
              <span> Previous</span>
            </button>

            <button type="button" class="button is-outline is-danger" (click)="initAll()">
              <span class="icon medium">
                <fa-icon [icon]="faBan"> </fa-icon>
              </span>
              <span>Recommencer</span>
            </button>
          </div>
        </footer>
      </div>
    </div>

  </div>
  </div>
</div>

