<div class="section has-background-light">
  <div class="container">
    <h1 class="title">Atexo Demo APP</h1>
    <!-- toggle controls here -->
  </div>
</div>
<div class="section">
  <div class="container">
    <app-stepper></app-stepper>
  </div>
</div>
