/* You can add global styles to this file, and also import other style files */
.my-footer {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
